@import "../../common/variables.scss";

.translate-container {
    margin-top: 15%;
    opacity: 1;
   }
   
   .translate-header {
       background-color: $primaryColor;
       color: $secondaryColor;
       width: calc(100% - 60px);
       height: 66px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       box-shadow: 0px 1px 5px 5px $secondaryColor;
       margin-bottom: 1px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       padding-right: 30px;
       padding-left: 30px;
   }
   
   .text-area-contents {
       display: flex;
       flex-direction: row;
       justify-content: space-between;

       @media screen and (max-width: 600px) {
           flex-direction: column;
           justify-content: initial;
         }
   }
   
   .text-area-wrapper {
      width: 50%;
      position: relative;
      @media screen and (max-width: 600px) {
       width: 100%;
     }
   }
   
   .voice-actions {
     background: none;
     color: inherit;
     border: none;
     padding: 0;
     font: inherit;
     outline: inherit;
     cursor: pointer;
     bottom: 15px;
     left: 15px;
     position: absolute;
   }

   .translate-footer {
     margin-top: 10px;
     display: flex;
     background: none;
     align-items: center;
     justify-content: flex-start;
   }

   .translate-history-icon {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background: $primaryColor; 
      align-items: center;
      display: flex; 
      justify-content: center;
   }

   .source {
     font-weight: bolder;
     font-size: 24px;
   } 

   .typed-out {
     font-size: 32px;
   }


  .translate-information {
    padding-left: 20px;
  }