
 @import "../../common/variables.scss";
 
 .aside-container {
    position: fixed;
    display: block;
    overflow-y: auto;
    z-index: 99;
    top: 0;
    right: 0;
    width: 432px;
    height: 100%;
    box-shadow: 0 0 6px 0 rgba(219, 224, 230, 0.6), 0 10px 24px 0 rgba(219, 224, 230, 0.7);
    background-color:$primaryColor;
    opacity: 0.99;
    color: $secondaryColor;
    padding: 10px;
  
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  .aside-content {
    margin-top: 75px;
  }


  .aside-cancel {
    position: absolute;
    right: 20px;
    top: 20px;
  }
   