$primaryColor: #292a2c;
$secondaryColor: #fff;
$tomato: #e2231b;
$black10: rgba(58, 58, 58, 0.1);

$text-height: 220px;

.text-area-container {
    position: relative;
    width: auto;
    height: auto;
}

.text-area {
    box-sizing: border-box;
    width: 100%;
    min-height: $text-height;
    padding: 45px 50px 0px 35px;

    resize: none;
    outline: none;
    border-color: rgba(118, 118, 118, 0.3);
    &:disabled {
        background-color: white;
    }
}